#board {
    max-width: 820px;
    margin: 0 auto;
}

#board div {
    height: 80px;
}

.square {
    border: 1px solid #dcdcdc;
}

@media all and (max-width: 991px) {
    #board {
        max-width: 520px;
    }

    #board div {
        height: 50px;
    }
}

@media all and (max-width: 575px) {
    #board {
        max-width: 270px;
    }

    #board div {
        height: 25px;
    }
}